// Forms elements
form {

    input {
        max-width: 100%;

        // go to page X on users list
        &.small {
            width: 70px;
            text-align:center;
        }
    }

    .form-item {
        span {

            &.warning {
                display:block;
                font-style:italic;
                color:@red;
                font-size: 0.8em;
                padding: 0.5em 0;
            }

        }
    }

} // end/ -> forms elements
