@charset "UTF-8";
@import "~ChuckCSS/chuckcss/front";

@import "//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";
@import "//code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css";

//@text-fs-old:18px; // font-size
[v-cloak] {
    display:none;
    background-color:black;
}

body {

    #app {
        &>.columns {
            min-height: 100vh;
        }
    }

    // Left nav
    nav {
        background-color:#3a3a3a;

        li {
            padding: 10px 0;
            border-bottom: 1px solid #777;

            &.router-link-active a {
                color: @primary;
            }

            a {
                display:block;
                color:white;

                &:hover,
                &.router-link-active {
                    color:@primary
                }
            }
        }
    }

    // Main container
    .columns main {
        padding: 1em 2em;

        // Transitions effects
        .fade-enter-active, .fade-leave-active {
            transition: opacity .3s ease;
        }
        .fade-enter, .fade-leave-active {
            opacity: 0
        }
        .child-view {
            position: absolute;
            ._transition;
        }



    }



    #pagination {
        li:not(.disabled) {
            a {
                cursor:pointer;
            }
        }
    }

    input.small {
        width: 70px;
        text-align:center;
    }

    table {
        th {
            position: relative;
            background-color:#f0f0f0;

            &.sort {

                &:after {
                    display:block;
                    position: absolute;
                    right: 12px;
                    top: 10px;
                    ._fa('\f0dc', 1.5rem, #cccccc);
                }
            }

            &.active {
                background-color:@primary;
                color:white;

                &.asc {
                    &:after {
                        ._fa('\f0d7', 1.5rem, white);
                    }
                }

                &.desc {
                    &:after {
                        ._fa('\f0d8', 1.5rem, white);
                    }
                }
            }
        }
    }
}
